.user{
    padding:1rem;
    margin:1rem;
    background-color: #444;
    color:white;
}
button {
  border-radius: 8px;
  border: 1px solid white;
  padding:4px 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #444;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}